@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700,900&display=swap&subset=chinese-traditional');

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
  box-sizing: border-box;
}