@mixin buttonAnimation {
    position: relative;
    text-decoration: none;
        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            border-bottom: 2px solid color(primary);
            transition: all .2s linear;
        }
        &:hover {
            &:after {
                width: 100%;
            }
        }
}