/* Create Button Underline Animation */
@mixin buttonAnimation {
  position: relative;
  text-decoration: none;
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0%;
      content: '';
      border-bottom: 2px solid color(primary);
      transition: all .2s linear;
    }
    &:hover {
      &:after { width: 100%; }
    }
}

@mixin positionCenter {
  &-container { position: relative; }

  &-content {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
}

@mixin flexPosition($justCont:center, $alignIte: center, $direction: column) {
  display: flex;
  flex-direction: $direction;
  align-items: $alignIte;
  justify-content: $justCont;
}

@mixin setBackground($imageUrl, $height: 100%) {
  width: 100%;
  height: $height;
  background-image: url($imageUrl);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* Button With Background Color */
@mixin solidButton($width: 200 ,$radius: 1,$color: primary) {
  min-width: #{$width}px;
  max-width: #{$width}px;
  color: color(quaternary);
  background-color: color($color);
  border-radius: #{$radius}rem;
  transition: all .2s linear;

  &:hover { background-color: darken(color($color), 20%); }
}

/* Button Without Background Color */
@mixin buttonOutline($width: 200 ,$height: 38, $color: color(primary), $hoverColor: color(quaternary), $bgColor: color(primary), $radius: 1) {
  width: #{$width}px;
  height: #{$height}px;
  color: $color;
  border: 1px solid $color;
  border-radius: #{$radius}rem;
  transition: all .2s linear;

  &:hover {
    color: $hoverColor;
    background-color: $bgColor;
    border-color: $hoverColor;
  }
}

@mixin linkStyling($color) {
  color: $color;
  transition: color .2s linear;

  &:hover { color: darken($color, 10%); }
}

/* Heading Section */
@mixin headingStyling {
  &-heading {
    padding: 1.5rem 0;
    text-align: center;
    
    &-title { font-size: size(lg); }

    &-description{
      font-size: size(sm);
      color: lighten(color(secondary), 10%);
    }
  }
}

/* Create An Arrow */
@mixin arrowStyling($content) {
  &-icon {
    position: relative;
    background-image: none;
    &::before {
      position: absolute;
      top: 0%;
      font-size: size(lg);
      color: color(secondary);
      content: $content; 
    }
  }
}

@mixin pseudoStyling($keyword, $color, $width, $height) {
  position: relative;

  &::#{$keyword} {
    position: absolute;
    left: 0;
    width: #{$width}rem;
    height: #{$height}rem;
    content: '';
    background-color: color($color);
  }
}

@mixin imgOverlay($amount: .8, $color: color(secondary)) {
  &-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparentize($color, $amount);
  }
}

/* Logo Styling */
@mixin brand($name) {
  &-brand {
    font-family: 'Pacifico', cursive;
    font-size: size(md);
    color: color(primary);

    &:hover { @extend .#{$name}-brand; }
  }
}

@mixin formControl {
  &-control {
    color: color(secondary);
    border: 1px solid lighten(color(secondary), 50%);
    border-radius: .1rem;
    
    &:focus {
      border-color: color(primary);
      outline: none;
      box-shadow: none;
    }

    &:disabled {
      color: lighten(color(secondary), 45%);
      background-color: color(quaternary);
      border-color: lighten(color(secondary), 45%);

      &::placeholder { color: lighten(color(secondary), 45%); }
    }
  }
}

@mixin formSelectControl {
  &-select-control {
    border: 1px solid lighten(color(secondary), 50%);
    border-radius: .1rem;
    }
  
    select {
      &.form-control {
        height: 35px;
        border: 0px;
      }
    }
}

/* Style Input Field Upon Having Invalid Data */
@mixin inputValidation {
  &-group {
    &.invalid {
  
      .form-control {
        background-color: lighten(color(primary), 36%);
        border: 1px solid color(primary);
      }
  
      small { color: color(primary); }
    }
  }
}

@mixin hiddenInput {
  /* Hide default input button */
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}

@mixin visibleTransition($status) {
  @if($status == invisible) {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .5s linear;
  }

  @if($status == visible) {
    visibility: visible;
    opacity: 1;
  }
}

/* Media Query */
@mixin response($breakpoint) {
  @if($breakpoint == xs) {
    @media(min-width: 380px) {
      @content;
    }
  }

  @if($breakpoint == sm) {
    @media(min-width: 576px) {
      @content;
    }
  }

  @if($breakpoint == md) {
    @media(min-width: 768px) {
      @content;
    }
  }

  @if($breakpoint == lg) {
    @media(min-width: 992px) {
      @content;
    }
  }

  @if($breakpoint == xl) {
    @media(min-width: 1200px) {
      @content;
    }
  }
}

@mixin hideScrollBar {
  ::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
  }
}

/* Table Layout For Mobile */
@mixin tableMobile {
  .table {
    color: color(secondary);
  
    /* Hide Original Table Header */
    thead {
      position: absolute;
      top: -99999px;
      left: -99999px;
      display: block;
      color: transparent;
    }
  
    tbody {
      display: block;
      tr {
        @extend tbody;
        padding: 0 1rem 0rem 1rem;
        margin-bottom: 1rem;
        background-color: color(quaternary);
        border-radius: .2rem;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
        transition: transform .2s linear, box-shadow .2s linear;
  
        &:last-child { margin-bottom: 0; }
  
        &:hover {
          color: color(secondary);
          cursor: pointer;
          box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
          transform: translateY(-5px);
        }
      }
  
      /* Each Table Data Behave Like a Row */
      td {
        @extend tbody;
        position: relative;    
        padding-left: 50%;

        &:not(:last-child) { border-bottom: 1px solid lighten(color(secondary), 55%); }
  
        /* Create Space To Display Table Header On The Left Hand Side */
        &::before {
          position: absolute;
          top: .75rem;
          left: .75rem;
          width: 45%;
          white-space: nowrap;
        }
  
        /* Insert Table Header Name */
        @for $i from 1 through 6 {
          &:nth-of-type(#{$i}) {
            &:before {
              font-weight: weight(bold);
              content: map-get($headers, $i);
            }
          }
        }
      }
    }
  }
}

/* Table Layout For Full Screen */
@mixin tableFullSize {
  .table {  
    &-wrapper {
      @include response(md) {
        width: 100%;
        padding: 0 1rem .4rem 1rem;
        background-color: color(quaternary);
        border-radius: .2rem;
        box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
      }
    }
    
    /* Show Original Table Header */
    thead {
      @include response(md) {
        position: unset;
        display: table-header-group;
        color: color(secondary);
        border-bottom: 2px solid lighten(color(secondary), 55%);
      }
    }
  
    tbody {
      @include response(md) {
        display: table-row-group;
  
        tr {
          display: table-row;
          padding: unset;
          margin-bottom: 0;
          color: lighten(color(secondary), 10%);
          background-color: color(quaternary);
          border-radius: unset;
          box-shadow: unset;
          transition: all .1s linear;  
  
          &:hover {
            color: color(primary);
            cursor: pointer;
            background-color: lighten(color(secondary), 55%);
            box-shadow: unset;
            transform: unset;
          }
        }
  
        /* Change Table Data From Row-like Back To Original Styling */
        td {
          position: relative;
          display: table-cell;
          padding: .75rem;
  
          /* Remove Table Header For Mobile Size Screen */
          &::before {
            position: unset;
            width: unset;
            white-space: nowrap;
          }

          &:not(:last-child) { border-bottom: none; }
  
          /* Set Table Header For Mobile Size Screen To Empty Data  */
          @for $i from 1 through 6 {
            &:nth-of-type(#{$i}) {
              &:before {
                content: '';
              }
            }
          }
        }
      }
    }
  }
}

@mixin fileUpload {
  .file {
    &-input { @include hiddenInput; }
  
    /* Style Label Into Button */
    &-label {
      @include flexPosition;
      @include buttonOutline(100, 100, lighten(color(secondary), 50%), color(primary), color(quaternary), .1);
      cursor: pointer;
    }
  
    &-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 1;
      transition: opacity .2s linear;
  
      &-wrapper {
        position: relative;
        width: 100px;
        height: 100px;
        padding: .2rem;
        border: 1px solid lighten(color(secondary), 50%);
        border-radius: .1rem;  

        &:hover {
          cursor: pointer;
          & .file-image { opacity: .3; }
          & .fa-window-close { opacity: 1; }
        }

        /* Button Displayed On The Image To Delete Image */
        .fa-window-close {
          position: absolute;
          top: 50%;
          left: 50%;
          font-size: size(md);
          opacity: 0;
          transition: all .2s linear;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
}

@mixin spinAnimation {
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg)
    }
  }
}

/* Layout For Admin And Owner Pages */
@mixin controlPanelLayout {
  position: relative; 
  max-width: 1000px; //800px
  padding: 2.3rem 2rem;
  margin-left: 0;
  transition: margin-left .1s linear;

  @include response(sm) { margin-left: 80px; }
  @include response(md) { margin-left: 145px; }

  &-title { size: size(lg); }
  &-divider { width: 100%; }
  &-table { margin-bottom: 30px; }
  &-placeholder { margin-bottom: 30px; }
  &-form { margin-bottom: 30px; }
}

@mixin slideAnimation($animateLeave:true) {
  .slide {
    &-enter-active { animation: slide-in .5s ease-out forwards; }

    @if $animateLeave {
      &-leave-active { animation: slide-out .5s ease-out forwards; }
    }
  }
  
  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes slide-out {
    from {
      opacity: 1;
      transform: translateY(0px);
    }
    to {
      opacity: 0;
      transform: translateY(15px);
    }
  }
}

@mixin fadeAnimation($animateLeave:true) {
  .fade {
    &-enter {
      opacity: 0;
      &-active { transition: opacity .5s linear; }
    }
  
    @if $animateLeave {
      &-active {
        opacity: 0;
        transition: opacity .5s linear;
      }
    }
  }
}

@mixin slideInLeftAnimation {
  .slide-in-left {
    &-enter {
      transform: translateX(-100%);
      &-active { transition: transform .5s ease-out; }
    }
  
    &-leave {
      &-active {
        opacity: 0;
        transition: opacity .5s linear;
      }
    }
  }
}

@mixin chartCardStyling {
  .card {
    &-header {
      padding: .6rem 1.25rem;
      font-size: size(sm);
      color: color(secondary);
    }
  
    &-statistic {
      position: relative;
      padding-left: 1.6rem;
    }
  
    &-title {
      margin-bottom: .2rem;
      font-size: size(xs);
      color: lighten(color(secondary), 30%);
    }
  
    &-text {
      font-size: size(lg);
      font-weight: weight(bold);
      color: color(secondary);
    }
  
    &-subtext {
      font-size: size(xs);
      color: rgb(58,196,124);
    }
  }
}

@mixin navPillStyling {
  .nav {
    &-link {
      @include linkStyling(lighten(color(secondary), 20%));
      padding: 0 1.1rem .7rem 0;
      font-size: size(sm);

      @include response(sm) { padding: 0 1.5rem .7rem 0; }
  
      &.active {
        @include pseudoStyling(before, tertiary, 2.1, .15);
        font-weight: weight(bold);
        color: color(tertiary);
        background-color: transparent;

        @include response(md) { @include pseudoStyling(before, tertiary, 4.2, .15); }
  
        &::before { top: 97%; }
      }
    }
  }
}