$colors: (
  primary: #EF4B4D,
  secondary: rgb(51, 51, 51),
  tertiary: rgb(0, 195, 173),
  quaternary: rgb(255, 255, 255),
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$font-size: (
  xl: 4.5rem,
  lg: 2rem,
  md: 1.5rem,
  sm: 1rem,
  xs: 0.75rem
);

@function size($size) {
  @return map-get($font-size, $size)
};

$font-weight: (
  normal: 400,
  bold: 700,
  bolder: 900
);

@function weight($weight) {
  @return map-get($font-weight, $weight);
};